<section id='main'>
  <% @posts.each do |post| %>
    <article class='entry clearfix'>
      <div class="entry-body">
        <%= link_to slug_path(post.slug) do %>
          <h1 class="title"><%= post.title %></h1>
        <% end %>
        <p>         
          <%= markdown(truncate(post.content, :length => 200, :separator => '......')) %>
        </p>
      </div>
      <div class="entry-meta">
        <ul>
          <li>
            <%= link_to post_path(post) do %>
                <span class="post-format">Permalink</span>
            <% end %>
          </li>
          <li>
            <span class="title">Posted:</span>
            <a href="#"><%= post.created_at.strftime('%Y-%m-%d') %></a>
          </li>
          <li>
            <span class="title">Tags:</span>
            <a href="#">Aside</a>
          </li>
          <li>
            <span class="title">Comments:</span>
            <a href="#">3</a>
          </li>
        </ul>
      </div>
    </article>
  <% end %>
  <div class="apple_pagination">
      <%= will_paginate @posts, :container => false %>
    </div>
</section>


