<%= simple_form_for [:admin, @post], :html => {:class =>'form-horizontal well'} do |f| %>
  <% if f.object.errors.any? %>
    <%= puts f.object.errors.full_messages %>
  <% end %>
  <div class='controls'>
    <%= f.input :title, :required => true, :input_html => {:class => 'span7'} %>
  </div>
  <div class='push' style="padding:25px;"></div>
  <div class='controls'>
    <%= f.input :content, :required => true, :input_html => {:rows => 20, :class => 'span10'} %>
  </div>
  <div class='push' style="padding:25px;"></div>
    <div class='controls' style="margin-left:340px;">
      <%= f.submit '保存', :class => 'btn btn-info' %>
    </div>
<% end %>