<section class="comments notebook" id="comment">
  <div class='layout'>
    <nav id="global-nav">
      <ul class="publisher-anchor-hover">
        <li class="active" data-role="global-nav">
          <a id="post-count" data-nav="conversation" href="#">
            <h4><%= @comments.count %> <%= @comments.count >1 ? 'comments' : 'comment' %></h4>
          </a>
        </li>
      </ul>
    </nav>
    <div id="form">
      <div class="reply expanded">
        <div class='postbox'>
          <div class='avatar'>
            <span class='user'>
              <img src="/assets/colorless/avatar-comment.png" data-role="user-avatar">
            </span>
          </div>
          <%= render "posts/comment_form" %>
        </div>
        
      </div>
    </div>
    <div id='main-nav' class='nav'>
      <ul>
        <li class="dropdown active" data-dropdown="enabled">
          <a class="dropdown-toggle publisher-nav-color" data-toggle="dropdown" data-nav="conversation" href="#">
            Discussion
            <span class="caret"></span>
            <span class="divider"></span>
          </a>
        </li>
      </ul>
    </div>
    <%= render "posts/comment_list" %>
  </div>
</section>


<% content_for :styles do %>
  <%= stylesheet_link_tag "colorless/comment" %>
<% end %>