<div class="row-fluid">
  <div class="span8">
    <article class="notebook audio">
       <h2><%= link_to @post.title, slug_path(@post.slug) %></h2><div class="triangle"></div>
         <div class="row-fluid">
           <div>
              <div class="jqDnR" id="idTextPanel">
                <%= @post.content.html_safe %>
              </div>
           </div>
         </div>
         <footer>
           <div class="row-fluid">
              <span class="posted-on span4"><i class="social-calendar"></i><%= @post.created_at.strftime("%Y-%m-%d") %></span>
              <div class="social span8 pull-right">
                <div class="comment-count span4 pull-right"><i class="social-comments"></i>
                  <%= link_to slug_path(@post.slug, :anchor => "comment") do %>
                    <%= @post.comments.count %> Comments
                  <% end %>
                </div>

              </div>

            </div>
          </footer>
      </article>
      <%= render "posts/comment" %>
  </div>
  <%= render "layouts/aside" %>
</div>
