<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>博客后台</title>
  <%= stylesheet_link_tag    "admin/application", :media => "all" %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="clearfix">
    <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <%= link_to admin_dashboard_index_path, :class => 'brand' do %>
            <i class="icon-home icon-white"></i> 博客后台
            <% end %>
            <ul class="nav user_menu pull-right">                           
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <img class="user_avatar" alt="" src="/assets/user_avatar.png">
                  <%= current_admin.name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to destroy_admin_session_path, :method => :delete do %>
                    <i class='icon-off'></i>退出
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class='container'>
      <div class='row-fluid'>
        <div class= 'span12'>
          <ul class='dshb_icoNav tac'>
            <li>
              <%= link_to '#', :class => 'events_list' do %>
                用户列表
              <% end %>
            </li>
            <li>
              <%= link_to '文章列表', admin_posts_path, :class => 'post' %>
            </li>
            <li>
              <%= link_to '发表新文章', new_admin_post_path, :class =>'add_item' %>
              
            </li>                      
            <li>
              <%= link_to '评论管理', '#', :class =>'chat' %>
            </li>
            <li>
              <%= link_to '设置', '#', :class =>'configuration' %>
            </li>
            <li>
              <%= link_to '退出', destroy_admin_session_path, :method => :delete, :class => 'shut_down' %>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row-fluid">
          <div class='span12'>
            <% if notice %>
            <div class="span4">
              <div class="alert alert-info">
                <a class="close" data-dismiss="alert">×</a>
                <strong><%= notice %></strong>
              </div>
            </div>
            <% end %>
          </div>
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>  
</body>
</html>
<style type='text/css'>
.events_list{
  background-image: url(/assets/gCons/multi-agents.png)
}
.add_item{
  background-image: url(/assets/gCons/add-item.png)
}
.post{
  background-image: url(/assets/gCons/addressbook.png)
}
.chat{
  background-image: url(/assets/gCons/chat-.png)
} 
.configuration{
  background-image: url(/assets/gCons/configuration.png)
} 
.shut_down{
  background-image: url(/assets/gCons/shut-down.png)
}
</style>

