<% content_for :navbar, render("layouts/user_nav") %>
<%= render :layout => "layouts/base" do %>
  <div class="page-header">
    <div class="row">
      <div class="span7">
        <h2><%= @title %></h2>
        <%= yield :description %>
      </div>
      <div class="span2">
        <%= yield :actions %>
      </div>
    </div>
  </div><!-- /.page-header -->

  <div class="row">
    <div id="content" class="span9">
      <%= yield %>
    </div> <!-- /#content -->

    <% if admin_signed_in? %>
    <div id="sidebar" class="span3">
      <h6>Menu</h6>
      <p></p>     
      <ul class="nav nav-tabs nav-stacked nav-caret-left">
        <%= activatable_li_tag_with_link "文章管理", admin_posts_path %>
        <%= activatable_li_tag_with_link "Tag管理", admin_tags_path %>
        <%= activatable_li_tag_with_link "会员管理", '#' %>
      </ul>     
    </div> <!-- /#sidebar -->
     <% end %>
  </div> <!-- /.row -->
<% end %>
